<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Ebizmarts_AbandonedCart::marketing_abandoned_cart"
             title="Abandoned Cart"
             translate="title"
             module="Ebizmarts_AbandonedCart"
             sortOrder="80"
             parent="Magento_Backend::marketing"
             resource="Magento_Backend::marketing_abandoned_cart"/>
        <add id="Ebizmarts_AbandonedCart::marketing_abandoned_cart_list"
             title="List"
             translate="title"
             module="Ebizmarts_AbandonedCart"
             sortOrder="10"
             parent="Ebizmarts_AbandonedCart::marketing_abandoned_cart"
             action="abandonedcart/popup/index"
             resource="Magento_Backend::marketing_abandoned_cart"/>
    </menu>
</config>
